
.vs/lordofshiningbrightness.github.io/FileContentIndex/read.lock
.vs/lordofshiningbrightness.github.io/FileContentIndex/8568f3b7-d825-41e1-8aea-97f345245acc.vsidx
.vs/lordofshiningbrightness.github.io/config/applicationhost.config
.vs/lordofshiningbrightness.github.io/FileContentIndex/f72ef887-6b70-4cac-829c-4876f51fe41a.vsidx
.vs/lordofshiningbrightness.github.io/FileContentIndex/8a8eed95-5185-4c82-a480-fc3932e73801.vsidx
.vs/lordofshiningbrightness.github.io/v17/.suo
.vs/lordofshiningbrightness.github.io/FileContentIndex/f3e7e876-2881-4102-b2b6-f93077553e0a.vsidx
.vs/lordofshiningbrightness.github.io/FileContentIndex/0d9064c0-56fd-4703-aa4f-bc30140389ac.vsidx
*.vsidx
